body {
  background-image: url("stopwach.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}


.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 600px;
  margin: 80px auto;
  padding: 40px;
  background: #636161;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.stopwatch {
  text-align: center;
}

.circle {
  width: 180px;
  height: 180px;
  border: 6px solid #f71303;
  border-radius: 70%;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #f9f9f9 40%, #e0e0e0);
  box-shadow: 0 0 20px rgba(247, 19, 3, 0.6);
}

#display {
  font-size: 48px;
  font-weight: bold;
  color: #333;
}


.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

button {
  width: 120px;
  height: 40px;
  font-size: 16px;
  border-radius: 5px
